In [1]:
### Testing if we can load the file from D:\

import pandas as pd

In [3]:
# Yes, we can load the data in D:\

pd.read_csv("D:/AI-VR dataset/MIMIC-IV ED/triage.csv")

,subject_id,stay_id,temperature,heartrate,resprate,o2sat,sbp,dbp,pain,acuity,chiefcomplaint
0,15585360,37573921,97.0,87.0,18.0,100.0,150.0,71.0,10.0,3.0,
1,17192424,34160628,98.6,82.0,NaN,100.0,111.0,81.0,3.0,3.0,
2,15248757,32172727,97.1,112.0,20.0,100.0,147.0,97.0,8.0,4.0,
3,16648037,38946064,98.5,59.0,18.0,99.0,160.0,86.0,2.0,2.0,
4,13492931,39828574,100.6,90.0,16.0,96.0,107.0,55.0,0.0,3.0,'
...,...,...,...,...,...,...,...,...,...,...,...
448967,17192157,31192693,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
448968,15632852,37860864,98.2,115.0,18.0,100.0,124.0,68.0,0.0,3.0,NaN
448969,17526143,30744048,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN
448970,18321345,37024607,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
448971,11894181,39631961,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN

In [4]:
# List out all the path for ED, Clinical and Image

ED_FOLDER_PATH = "D:/AI-VR dataset/MIMIC-IV ED"
CLINICAL_FOLDER_PATH = "D:/AI-VR dataset/MIMIC-IV Clinical Database"
CXR_FOLDER_PATH = "D:/AI-VR dataset/MIMIC-CXR-JPG"
EYETRACKING_FOLDER_PATH = "D:/AI-VR dataset/eye-gaze-data-for-chest-x-rays-1.0.0"

In [5]:
# Determine which data I need to load 
# 1. Eye tracking data
# 2. Triage
# 3. 
# Start loading data and perform preprocessing.